
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 1rem;
}

.noticias-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.noticia {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 1rem;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
}

.noticia:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.noticia h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.noticia p {
    font-size: 1rem;
    color: #555;
}

.noticia a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

.noticia a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
